body {
	background:url(../images/bg1.gif);
	font:13px verdana, arial, sans-serif;
	color:#333;
}

h1 {
	font:34px georgia, "Times New Roman", Times, serif;
	color:#333;
}

h2 {
	font:32px georgia, "Times New Roman", Times, serif;
	color:#333;
}

h3 {
	font:normal 22px georgia, "Times New Roman", Times, serif;
	color:#333;
	border-bottom: 1px solid #333;
	margin:0; padding:0;
}

.intro {
	font-weight:bold;
	font-size:18px; line-height:24px;
}

.caption {
	font-size: 11px;
	color: #666;
}

table {
	margin:10px 0; 
	background:#FFF;
}

table th {
  	color: #FFF;
	background:#333;
	padding: 4px 15px;
}
table td {
	padding:4px 15px;
}

a {color:#333;}
a:hover {color:#951a00;}

form label {font-weight:bold;}

/* Main container and header area 
-----------------------------------------*/

#container {
	position:relative;
	margin:10px auto 010px auto;
	width:960px;
	background:#FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #CCC;
}

#header {
	float:left;
	width:960px;
	height:140px;
}
#logo {
	position:absolute;
	top:20px; left:20px;	
	background:url(../images/drumbeat_logo.png);
	width:300px; height:82px;
	text-indent:-9999px;
}

#header h1 {
	position:absolute;
	top:70px; left:100px;
	z-index:2;	
	
}

/* Top Navigation 
-------------------------------*/
#navcontainer {float:left; width:960px; }

#navcontainer ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #CCC;
	color: #333;
	float: left;
	width: 100%;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a {
	padding: 8px 30px;
	background-color: #CCC;
	color: #333;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
	text-transform:uppercase;
}

#navcontainer ul li a:hover, #navcontainer ul li a.active {
	background-color: #333;
	color: #fff;
}


/* Main Body area 
-------------------------------*/
#main {
	float:left;
	width:900px; 
	margin:15px;
	padding:10px 15px;
	
}

#content {
	float:left;
	width:600px;
}
#sidebar {
	float:right;
	width:250px;
	padding: 20px 10px; margin-top:20px	;
	background:#CCC;
}





/* Footer and social media links
-------------------------------*/

#footer {
	clear:both;
	width:900px;
	text-align:center;
	padding:10px 15px;
	color:#CCC;
}

#socmed {
	position:absolute;
	top:100px; right:50px;
}

#socmed ul {
	position:relative;
	width:100px; height:32px;
	background:url(../images/socmed.png) top left no-repeat;
	margin:0; padding:0;
}

#socmed li {
	position: absolute;
	margin: 0; padding: 0;
	list-style: none;
	top: 0;
}

#socmed a {
	width:32px; height:32px;
	display: block;
	text-indent: -9999px;
	text-decoration: none;
	outline: 0;
}
#twitter	{left: 0px; }
#facebook	{left: 33px; }
#flickr 	{left: 66px; }

